/*Member 1*/
/*#1.2*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#1.3*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*#1.4*/
button {
    color: white;
    padding: 10px;
    width: 9rem;
    font-size: 12px;
    font-weight: bold;
    border-color: transparent;
    border-radius: 20px;
}

/*Member 2*/
/*#2.5*/
nav {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

/*#2.6*/
.right-nav{
    float: right;
}

/*#2.7*/
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding:10px;
}

/*#2.8*/
.nav, .nav-logo
{
    margin: 5px;
    padding: 5px;
}

/*Member 4*/
.container {
    text-align: right;
    width: 40%;
    position: relative;
    left: 50%;
}

.title {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    width: 75%;
    margin-left: 9rem;
    margin-top: 1rem;
}

#apply-button {
    margin-top: 1rem;
    background-color: #c2195b;
}


#logo {
    padding-top: 1px;
    padding-left: 5px;
}

#nav-button {
    background-color: #c2195b;
}

#bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
} 


/* Natassha */

#main {
    padding-top: 60px;
    text-align: center;
}

h2.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
    font-weight: bold;

}

p.description, p.book-description {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight:lighter;
}

button.book-button{
    background-color: #336589;
} 

footer {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}

span{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 100;
}


