* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Google Font*/
body{
	font-family: 'Open Sans', sans-serif;
}


nav{
    padding: 0.8rem; /* Left, Right, Top, Bottom: 0.8rem */
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

nav ul {
        list-style-type: none;
}

nav .nav-logo, nav .nav {
    margin: 0.5rem;
    /*Changes the list items to inline elements*/
    display: inline;
}

#intro{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#intro h2, #intro p {
    margin-bottom: 1rem;

}

#intro button {
    color: white;
    font-weight: bold;
    background-color: #c2195b;
    font-size: 1rem;
    padding: 1rem;
    border-radius:25px;
}

#succeed-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

#succeed-info h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#succeed-info h3{
    text-align: center;
    margin-bottom: 1rem;
}

#succeed-info .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}


/*  mike Member 1 -- added pre-footer padding*/
#pre-footer {
    padding: 1rem;
    color: white;
    background-color: #002540;
}

/*  Arian  Member 2 */
/* Lusabia08 Member 3*/
#pre-footer div {
    display: inline-block;
    width: 20%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

/*Jupiter Member 4*/
footer {
    padding: 0.7rem;
}

/* Natassha Member 5 */
footer > span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}