/* Type Selector */ 
/* tag-name */

h1{
	color: yellow /* !important  bypassing CSS Specificity */;
}

/* Universal Selector  */
/* star signs means all */

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/* ID Selector */
/* #id-name */

#zuitt-motto {
	letter-spacing: 5px;
}


/* Class Selector */
/* .class-name */

.offering-item {
text-transform: uppercase;
}

/*Adjacent Sibling Selector */
/*Selector + Selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}


/* Descendant Selector */
/* Selector selector */ 

#bootcamp-learning-list li {
	color: #075966;
}


/* General Sibling selector */
/* selector ~ selector */
h2 ~ a {
	text-decoration: none;
}

.modules {
	letter-spacing: 3px;
}


