/*div by default is display: block*/
#div-3 {
	background-color: skyblue;
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline;
}

#div-4 {
	background-color: aquamarine;
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline;
}

/*span by default is display: inline*/
#span-3 {
	background-color: gray;
	border: 2px solid black;
	display: block;
}

#span-4 {
	background-color: brown;
	border: 2px solid black;
	display: block;
}

#span-5 {
	background-color: yellow;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#span-6 {
	background-color: orange;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#div-5 {
	background-color: pink;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#div-6 {
	background-color: violet;
	border: 2px solid black;
	display: inline-block;
	width: 300px;
	height: 300px;
}

#div-7 {
	background-color: lightcyan;
	border: 2px solid black;
	display: none;
}

#span-7 {
	background-color: lightgreen;
	border: 2px solid black;
	display: none;
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	width: 25vh;
}

.two-rem {
	font-size: 2rem;
}

.two-em {
	font-size: 2em;
}

.background {
	min-height: 100vh;
	/*background-color: gray;*/
	/*you can also use #808080 or rgb(128,128,128)*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	/*you can also use repeat, repeat-x and repeat-y space round*/
	background-size: 100%;
	/*you can also use auto, cover and contain.
	the size can also have a number value(500px or 60% 70%)
	the one-value syntax (sets the width of the image (height becomes "auto").
	the two-value syntax (first value: width of the image, second value: height). */
	background-position: center bottom;
	/*you can also use 10% 40%, 50px 100px, left bottom, center top, right top*/
	background-attachment: scroll;
	/*you can also use fixed */
}

.container-bg {
	/*background-color can also be used along with background-image. rgba is used with opacity of 0.5*/
	background-color: rgb(0, 0, 0, 0.5);
	/*min-height defines the minimum height of an element*/
	min-height: 100vh;
}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0; /*to rid the space around the element*/
	line-height: 35rem;
}
