/*Universal Selector*/
* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

/* Member 2 */
#external {
	color: yellow;
}

/*Member 3* JB*/

h1 {
    font-size: 3rem;
}

#sub-header {
    text-transform: uppercase;
}

.text-green {
    background-color: green;
}


#sub-header {
    text-transform: uppercase;
}

.text-green {
    background-color: green;
}

/*Member 4 */ 

.border-blue{
	border: 2px solid;
	border-color: blue;
}

img + ul {
	list-style-type:none
}

section img {
height:20vh;
width: 20vh;
border-radius: 100px;}


/* Member 5 * Natassha/ 

/*general sibling selector */
ul ~ p {
text-align: center;
}

/*child selector*/
/*#14*/
ul > li { 
	letter-spacing: 10px;
}